@model EShopier.Entities.Category

@{
    ViewBag.Title = "Delete";
}
<div class="text-center">
    <h4>@Model.Name</h4>

    <h3>Bu Kategoriyi Silmek İstediğinize Emin misiniz?</h3>
</div>

<div>

    <hr />
    <dl class="dl-horizontal col-sm-offset-4">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

    </dl>

    @*@using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

           <div class="form-actions no-color col-sm-offset-5">
              <input type="submit" value="Sil" class="btn btn-danger" />
              <a href="/Categories/Index"><input type="button" value="Listeye Geri Dön" class="btn btn-warning" /></a>
           </div>
        }*@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-sm-offset-5">
            <button type="button" class="button10" data-toggle="modal" data-target="#exampleModal">
                Sil
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Kategori Silme İşlemi</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Bu Kategoriyi Silmek İstediğinize Emin misiniz ?
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="button7" data-dismiss="modal">Vazgeç</button>
                            <button class="button10" input type="submit">Sil</button>

                        </div>

                    </div>
                </div>
            </div>
            <a href="/Categories/Index"><button class="button6" input type="button">Listeye Geri Dön</button></a>
        </div>


    }
</div>
