@model EShopier.Entities.Category

@{
    ViewBag.Title = "Details";
}
<div class=" text-center">
    <h2>Kategori Detayı</h2>
    <h4>@Model.Name</h4>
</div>

<div>
        
        <hr />
        <dl class="dl-horizontal col-sm-offset-4">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AddDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddDate)
            </dd>

        </dl>
</div>
<p>
    <div class=" col-sm-offset-5">
        <a href="/Categories/Edit/@Model.ID"><button class="button5" input type="submit" new { id=@Model.ID }>Düzenle</button></a>
        <a href="/Categories/Index"><button class="button6" input type="button">Listeye Geri Dön</button></a>
    </div>
   



</p>


