@model EShopier.Entities.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Ürün Sil</h2>

<h3>Bu Ürünü Silmek İstediğinize Emin misiniz?</h3>
<div>
    <h4>Ürün</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

          <div class="form-actions no-color">
               <input type="submit" value="Sil" class="btn btn-danger" /> |
               <a href="/Products/Index"><input type="button" value="Listeye Geri Dön" class="btn btn-primary" /></a>

          </div>
    }
</div>
