@using EShopier.Entities
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Product>

@{
    ViewBag.Title = "ProdutDetails";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @Html.Partial("_PartialCategory2")
            </div>

            @foreach (Product item in Model)
            {
                <div class="col-sm-9 padding-right">
                    <div class="product-details">
                        <!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                <img src="~/Content/images/@item.ProfileImage" alt="" />
                            </div>

                        </div>
                        <div class="col-sm-7">
                           <div class="product-information">
                                <!--/product-information-->
                                <img src="~/Content/images/product-details/new.jpg" class="newarrival" alt="" />
                                <h2>@item.Name</h2>
                                <p>ID: @item.ID</p>
                                <img src="~/Content/images/product-details/rating.png" alt="" />


                                <span>
                                    <span>@item.UnitPrice TL</span>
                                    <label>Quantity:</label>
                                    <input type="text" value="1" name="quantity" />
                                    <button type="submit" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Sepete Ekle
                                    </button>


                                </span>

                                <p><b>Stok:</b> @item.UnitStock</p>
                                <p><b>KategoriID:</b> @item.CategoryID</p>
                                <p><b>MarkaID:</b>@item.BrandID</p>
                            </div>
                        </div>
                    </div>

                </div>
            }

        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination pull-right">
            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("ProdutDetails", new { sayfa }))
        </ul>
    </nav>
   
</section>

