
@model EShopier.Entities.ViewModels.CartModel
@{
    ViewBag.Title = "Index";
}

<body>
    @if (Model.CartLines.Count > 0)
    {
        <section id="cart_items">
            <div class="container">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Menü</a></li>
                        <li class="active">Sepetim</li>
                    </ol>
                </div>
                <div class=" col-sm-offset-10">


                    <a href="/Cart/ClearCart"><button type="submit" class=" btn btn-danger"><span style="margin-right:20px" class="glyphicon glyphicon-trash" aria-hidden="true"></span> Sepeti Boşalt</button></a>
                   


                </div>
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Ürün Detayları</td>
                                <td class="description"></td>
                                <td class="price">Fiyat</td>
                                <td class="quantity">  Adet</td>
                                <td class="total">Toplam Fiyat</td>
                                
                                
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartLines)
                            {
                                <tr>
                                    <td class="cart_product">
                                        <img src="~/Content/images/@item.Product.ProfileImage" alt="" width="70" height="70" />
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.Product.Name</a></h4>
                                        <p>Ürün ID: @item.Product.ID</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.Product.UnitPrice ₺</p>
                                    </td>
                                    <td class="cart_quantity">
                                        @*<div class="cart_quantity_button">
                                            <a class="cart_quantity_up" href=""> + </a>
                                            <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                            <a class="cart_quantity_down" href=""> - </a>
                                            </div>*@
                                        <p>@item.Quantity</p>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@(item.Product.UnitPrice*item.Quantity) ₺ </p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href="/Cart/RemoveFromCart/@item.Product.ID"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section id="do_action">
            <div class="container">
                <div class="heading">


                    <p><i class="fa fa-truck" aria-hidden="true"></i>10 Adetten Fazla Ürün Satın Alırsanız Kargo Bedava.</p>
                    <p><i class="fa fa-money" aria-hidden="true"></i>25.000₺ Üzeri Sepet Tutarına %10 İndirim.</p>
                    <hr />
                    <div class=" col-md-offset-0">
                        <div class="alert alert-info" role="alert">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            Alışverişinizi Tamamlamak İçin Sepetinizi Onaylayınız.
                        </div>
                    </div>
                    

                </div>
                <div class="row">
                   
                
                    <div class="col-sm-6">
                        <div class="total_area">
                            <ul>
                                <li>Toplam Ürün Adeti <span>@Model.TotalQuantity()</span></li>
                                <li>İndirim <span> @Model.Sale()%</span></li>
                                <li>Kargo Bedeli<span>@Model.Ship() ₺</span></li>
                                <li>Toplam Fiyat <span>@(Model.Total()+Model.Ship()) ₺</span></li>
                            </ul>
                            <a class="btn btn-default update" href="/Home/Index">Alışverişe Devam Et</a>
                            <a class="btn btn-default check_out" href="/Cart/CheckOut">Ödeme</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
        <div class=" col-md-offset-1">
             <div class="alert alert-warning" role="alert">
                 <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                 Alışveriş Sepetinizde Ürün Bulunmamaktadır!
             </div>
        </div>
            
    }



</body>

