
@model EShopier.Entities.ViewModels.CartModel
@{
    ViewBag.Title = "Index";
}

<body>
    @if (Model.CartLines.Count > 0)
    {
        <section id="cart_items">
            <div class="container">
                <div class="breadcrumbs">
                    <ol class="breadcrumb">
                        <li><a href="/Home/Index">Menü</a></li>
                        <li class="active">Sepetim</li>
                    </ol>
                </div>
                <div class=" col-sm-offset-10">


                    @*<a href="/Cart/ClearCart"><button type="submit" class="button2"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Sepeti Boşalt</button></a>*@
                    @*<br />*@
                    <a href="/Cart/ClearCart"> <button3 class="noselect"><span class="text">Sepeti Boşalt</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button3></a>
                    @*<button3 class="noselect"><span class="text">Sepeti Boşalt</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button3>*@

                </div>
                <br />
                <div class="table-responsive cart_info">
                    <table class="table table-condensed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image">Ürün Detayları</td>
                                <td class="description"></td>
                                <td class="price">Adet Fiyatı</td>
                                <td class="quantity">  Adet</td>
                                <td class="total">Toplam Fiyat</td>


                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CartLines)
                            {
                                <tr>
                                    <td class="cart_product">
                                        <img src="~/Content/images/@item.Product.ProfileImage" alt="" width="70" height="70" />
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.Product.Name</a></h4>
                                        <p>Ürün ID: @item.Product.ID</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.Product.UnitPrice ₺</p>
                                    </td>
                                    <td class="cart_quantity">
                                        @*<div class="cart_quantity_button">
                                <a class="cart_quantity_up" href=""> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                                <a class="cart_quantity_down" href=""> - </a>
                                </div>*@
                                        <p>@item.Quantity</p>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@(item.Product.UnitPrice*item.Quantity) ₺ </p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href="/Cart/RemoveFromCart/@item.Product.ID"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <section id="do_action">
            <div class="container">
                <div class="heading">


                    <p><i class="fa fa-truck" aria-hidden="true"></i>500₺ Üstü Siparişinizde Kargo Bedava.</p>
                    <p><i class="fa fa-money" aria-hidden="true"></i>25.000₺ Üzeri Sepet Tutarına %10 İndirim.</p>
                    <hr />
                    <div class=" col-md-offset-0">
                        <div class="alert alert-info" role="alert">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            Alışverişinizi Tamamlamak İçin Sepetinizi Onaylayınız.
                        </div>
                    </div>


                </div>
                <div class="row">


                    <div class="col-sm-6">
                        <div class="total_area">
                            <ul>
                                <li>Toplam Ürün Adeti <span>@Model.TotalQuantity()</span></li>
                                <li>İndirim <span> @Model.Sale()%</span></li>
                                <li>Kargo Bedeli<span>@Model.Ship() ₺</span></li>
                                <li>Toplam Fiyat <span>@Model.Total() ₺</span></li>
                            </ul>
                            <a class="btn btn-default update" href="/Home/Index">Alışverişe Devam Et</a>
                            <a class="btn btn-default check_out" href="/Cart/CheckOut">Ödeme</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    else
    {
       
        <link href="~/Content/css/StyleSheet1.css" rel="stylesheet">

        <div class=" col-md-offset-1 col-sm-10">

            <div class="alert2">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                Alışveriş Sepetinizde Ürün Bulunmamaktadır!
            </div>

        </div>

    }



</body>

