@model EShopier.Entities.Brand

@{
    ViewBag.Title = "Delete";
}
<div class=" text-center">
    <h4>@Model.Name</h4>

    <h3>Bu Markayı Silmek İstediğinize Emin misiniz?</h3>
</div>

<div>
    
    <hr />
    <dl class="dl-horizontal col-sm-offset-4">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="form-actions no-color col-sm-offset-5">
              <input type="submit" value="Sil" class="btn btn-danger" /> 
    
              <a href="/Brands/Index"><input type="button" value="Listeye Geri Dön" class="btn btn-warning" /></a>

         </div>
    }
</div>
