@model EShopier.Entities.Brand

@{
    ViewBag.Title = "Delete";
}

<h2>Marka Sil</h2>

<h3>Bu Markayı Silmek İstediğinize Emin misiniz?</h3>
<div>
    <h4>Marka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="form-actions no-color">
              <input type="submit" value="Sil" class="btn btn-danger" /> |
    
              <a href="/Brands/Index"><input type="button" value="Listeye Geri Dön" class="btn btn-primary" /></a>

         </div>
    }
</div>
