@model EShopier.Entities.Brand

@{
    ViewBag.Title = "Details";
}
<div class="text-center">
    <h2>Marka Detayı</h2>
    <h4>@Model.Name</h4>
</div>

<div>

    <hr />
    <dl class="dl-horizontal col-sm-offset-4">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>

    </dl>
</div>
<p>
    <div class=" col-sm-offset-5">
        <a href="/Brands/Edit/@Model.ID"><input type="submit" value="Düzenle" class="btn btn-info" new { id=@Model.ID } /></a>
        <a href="/Brands/Index"><input type="submit" value="Listeye Geri Dön" class="btn btn-warning" /></a>

    </div>
   
</p>
