@model EShopier.Entities.Brand

@{
    ViewBag.Title = "Details";
}
<div class="text-center">
    <h2>Marka Detayı</h2>
    <h4>@Model.Name</h4>
</div>

<div>

    <hr />
    <dl class="dl-horizontal col-sm-offset-4">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoundationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoundationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileImage)

        </dt>

        <dd>

            <img src="~/Content/images/@Model.ProfileImage" width="50" height="50" />

        </dd>
    </dl>
</div>
<p>
    <div class=" col-sm-offset-5">
        <a href="/Brands/Edit/@Model.ID"><button class="button5" input type="submit" new { id=@Model.ID }>Düzenle</button></a>
        <a href="/Brands/Index"><button class="button6" input type="button">Listeye Geri Dön</button></a>

    </div>
   
</p>
